@model IEnumerable<Ebook>

@{
    ViewBag.Title = "All Ebooks";
}

<h1>All Ebooks</h1>

<div class="row">
    <ul>
        @foreach (var ebook in Model)
        {
            <li class="card-header">
                @ebook.Title
            </li>
        }
    </ul>
    
</div>