@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Form</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="" method="post">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" placeholder="First Name" class="form-control">
                        </div>
                        <span asp-validation-for="FirstName" class="col-md-1 offset-md-2 text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" placeholder="Last Name" class="form-control">
                        </div>
                        <span asp-validation-for="LastName" class="col-md-1 offset-md-2 text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Email Adress" class="form-control">
                        </div>
                        <span asp-validation-for="Email" class="col-md-1 offset-md-2 text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <textarea asp-for="Message" class="form-control" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                        </div>
                        <span asp-validation-for="Message" class="col-md-1 offset-md-2 text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-xs-center">
                            <button type="submit" class="btn btn-primary btn-lg">Send</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

